<!DOCTYPE html>
<html>
<head>
  <title>Gourmet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--render :partial의 의미는 현재 위치에 다른 파일의 코드를 포함시킨다.-->
<%= render :partial => "layouts/header" %>
<%= yield %>

</body>
</html>
